/* Light Cream Color */
body {
  background-color: #fff5e0;
}

h1 {
  color: #fff5e0;
  font-size: 30px;
  margin-left: 5px;
  display: inline;
} 

.main {
  margin-left: 20px;
}


/* Dark (almost-black) Brown Color */
li {
  color: #3d232a;
  margin-left: 60px;
} 

a {
  color: #3d232a;
  text-decoration: none;
}

p {
  color: #3d232a;
  margin-left: 20px;
}

blockquote {
  color: #3d232a;
  margin-left: 80px;
  font-size: 16px;
  font-style: italic;
} 	


/* Dark Teal Blue Color */
h2 {
  color: #42966f;
  font-size: 25px;
}

footer {
  color: #42966f;
  font-size: 15px;
}

/* Light Teal Blue Color */
.topnavi {
  background-color: #75ba95;
  font-size: 20px;
}
