/*
Color scheme:
*Dark blue #0d4771
*Pale Blue #445881 and pale version of it: #4458814f
*Purple #7b6992
*Pink #b17aa2
 white
 darkgray
*/

/* General */
body {
  align-items: center;
  color: #0d4771;
  font-family: serif;
  /* TODO  Arial, Verdana, sans-serif; */
  margin: 0px auto;
  max-width: 1100px;
  text-align: center;
}
hr {
  border: 1px solid #445881;
  margin-top: 150px;
  margin-bottom: 50px;
  width: 80%;
}
a {
  color: #7b6992;
}
a:hover {
  color: #0d4771;
}
img {
  pointer-events: none;
}
#back-to-top-btn {
  background-color: transparent;
  border-width: 0px;
  border-radius: 10px;
  bottom: 5%;
  color: #7b6992;
  font-size: 18px;
  padding: 5px 10px;
  position: fixed;
  right: 2%;
}
#back-to-top-btn:hover {
  background-color: #445881;
  color: white;
}
.page-intro {
  padding-top: 20px;
}
.page-intro p {
  font-size: 20px;
  line-height: 1.5;
  margin: 150px auto 150px auto;
  max-width: 520px;
  width: 80%;
}
.intro  {
  font-size: 24px;
  margin: 80px auto;
  width: 80%;
}
.eDirection {
  font-family: monospace;
}
.section-name {
  border-top: 2px solid #445881;
  margin: 10px auto 0px auto;
  padding-bottom: 15px;
  padding-top: 15px;
  text-align: right;
  width: 80%;
}
.struckout-text {
  text-decoration: line-through;
}
.hidden {
  display: none;
}

/* Top bar */
#main-bar {
  font-size: 24px;
  margin-top: 30px;
  padding: 14px 16px;
  position: relative;
  text-align: left;
}

/* Top menu */
.topnav {
  overflow: hidden;
  background-color: #445881;
}
.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a.active {
  background-color: #7b6992;
  color: white;
}
.topnav a:hover {
  background-color: white;
  color: #0d4771;
}
.topnav #menu-icon {
  display: none;
}
#current-tab {
  display: none;
}
@media screen and (max-width: 650px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav #menu-icon {
    float: right;
    display: block;
  }
  #current-tab {
    display: inline-block;
    color: white;
    font-size: 16px;
    margin-bottom: 0px;
    padding: 0px 16px;
    text-align: left;
  }
}
@media screen and (max-width: 650px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive #menu-icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a:not(:first-child)  {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive #portfolio-link {
    margin-top: 48px;
  }
}

/* Section 1: Home */
#art-at-a-glance {
  width: 100%;
}
.art-card-holder {/* --> These are used at home, at the blog and at about */
  margin: auto;
}
.art-card {
  display: inline-block;
  padding: 5px;
  width: 80%;
  min-width: none;
}
.landscape {
  min-width: 300px;
  width: 75%
}
.med {
  min-width: 275px;
  width: 40%;
}
.sm {
  min-width: 275px;
  width: 30%;
}
.art-card img {
  width: 100%;
}
.art-card p {
  color: darkgray;
  font-size: 11px;
}
@media screen and (max-width: 650px) {
  .art-card-holder {
    display: block;
  }
  .art-card {
    display: block;
    margin: auto;
  }
}

/* Section 2: Porfolio */
#portfolio-content .page-intro {
  margin-top: 50px;
}
.collection-title {
  border-radius: 15px;
  display: inline-block;
  font-size: 20px;
  padding: 15px 10px;
  margin-left: 5px;
  margin-right: 5px;
}
.collection-title:hover {
  background-color: #7b6992;
  color: white;
}
.collection-title.active {
  background-color: #7b6992;
  color: white;
}
.collection-tb {
  border: 2px solid white;
  height: 125px;
  margin-top: 10px;
}
#portfolio-list {
  width: 100%
}
.catalog-card {
  display: block;
  margin: 50px auto 85px auto;
  width: 80%;
}
.catalog-card::after {
  content: '';
  clear: both;
  display: table;
}
.catalog-card img {
  margin: 25px;
  max-width: 500px;
  width: 80%;
}
.gallery-tag {
  padding-top: 250px;
  margin: auto;
  width: 75%;
}
.gallery-tag-landscape {
  padding-top: 150px;
}
.catalog-card:nth-child(odd) img {
  float: left;
}
.catalog-card:nth-child(even) img {
  float: right;
}
.card-title {
  font-size: 20px;
}
@media screen and (max-width: 650px) {
  .collection-title {
    display: block;
    margin: 10px 15px;
  }
}
@media screen and (max-width: 900px) {
  .catalog-card {
    display: block;
  }
  .gallery-tag, .gallery-tag-landscape {
    padding-top: 10px;
  }
  .catalog-card:nth-child(even) img {
    display: block;
    float: none;
    margin: 25px auto;
  }
  .catalog-card:nth-child(odd) img {
    display: block;
    float: none;
    margin: 25px auto;
  }
}

/* Section 3: Archive */
#gallery {
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
  padding-left: 5%;
  padding-right: 5%;
}
.archived-art {
  min-width: 300px;
  width: 40%;
  padding: 5px;
}
.archived-art img {
  width: 100%;
}
.myTitle {
  font-size: 14px;
}
#filter-bar {
  color: #445881;
  margin: 0px auto 50px auto;
  width: 80%;
}
#filter-bar button:hover, #open-filter-btn:hover, #loading-btn:hover {
  background-color: #0d4771;
  color: white;
}
.filter-btn, #open-filter-btn {
  background-color: #4458814f;
  border: none;
  border-radius: 10px;
  color: #0d4771;
  font-size: 14px;
  margin: 7px 5px;
  padding: 10px 7px;
}
#loading-btn {
  background-color: #4458814f;
  border: none;
  border-radius: 10px;
  color: #0d4771;
  display: block;
  font-size: 14px;
  margin: 30px auto;
  padding: 10px 7px;
}
#loading-btn.hidden {
  display: none;
}
#open-filter-btn {
  margin-bottom: -150px;
}
.see-archive-btn, .close-archive-filter-btn {
  background-color: #4458814f;
  border: none;
  border-radius: 10px;
  color: #0d4771;
  font-size: 14px;
  width: 80%;
}
.see-archive-btn {
  margin-top: 30px;
  padding-bottom: 10px;
  padding-top: 10px;
}
.close-archive-filter-btn {
  margin-bottom: -150px;
  margin-top: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
}
.filter-btn.filtered {
  background-color: #7b6992;
  color: white;
}

/* Section 4: Shop */
table {
  margin: 15px auto;
  text-align: left;
}
tr:nth-child(even) {
  background-color: #445881;
  color: white;
}
td {
  padding: 7px 5px;
}
#shop-gallery {
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 5%;
  padding-right: 5%;
}
.shop-listing {
  margin: 30px 25px;
  padding: 5px;
  width: 33%;
  min-width: 300px;
}
.shop-listing img {
  width: 100%;
}
.shop-btn {
  background-color: #7b6992;
  border-radius: 15px;
  border-width: 0px;
  color: white;
  margin-top: 14px;
  padding: 14px 16px;
  font-size: 17px;
}
.shop-btn:hover {
  background-color: #0d4771;
  color: white;
}
.custom-btn {
  margin-bottom: 50px;
  margin-top: 30px;
}
.custom-offer {
  font-size: 20px;
  margin-top: 30px;
}
/* Section 5: Blog */
#blog-content {
  line-height: 1.5;
  margin: auto;
  width: 75%;
}
#blog-content p {
  color: #445881;
  text-align: left;
}
.blog-title {
  text-align: left;
}
.blog-title a {
  font-size: 26px;
}
#back-to-index-btn {
  margin-bottom: 50px;
}
.blog-post {
  margin-top: 60px;
}
.blog-post p {
  font-size: 20px;
}
.copyrightP {
  color: darkgray;
  font-size: 11px;
}

/* Section 6: About
Images use the same classes as for Section 1: Home */
#about-content {
  margin: auto;
  width: 75%;
}
.bio {
  line-height: 1.75;
  margin: auto;
  max-width: 500px;
  padding: 30px 0px;
}

/* Footer */
footer {
  background-color: #445881;
  color: white;
  margin-bottom: 0px;
  margin-top: 130px;
  padding: 80px 10%;
}
footer a {
  color: #b17aa2;
  text-decoration: none;
}
footer a:hover {
  color: white;
}
footer p {
  margin-top: 50px;
}
#where-to-go-now {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}
.my-name {
  font-family: cursive;
  font-size: 22px;
}
.go-here {
  width: 150px;
}
.nav-at-foot {
  display: block;
  font-size: 24px;
}
.contact-icon {
  margin-top: 50px;
}
.contact-icon a {
  font-size: 35px;
  margin-left: 15px;
  margin-right: 15px;
}
.l-icons {
  width: 30px;
  max-width: 75%;
}