/*
Color scheme:
*Dark blue #0d4771
*Pale Blue #445881
*Purple #7b6992
*Pink #b17aa2
 Fuschia #e88bb3
 white
 darkgrey
 black

*/

/* General */
body {
  align-items: center;
  color: #0d4771;
  font-family: serif;
  margin: 0px auto;
  max-width: 1100px;
  text-align: center;
}
hr {
  border: 1px solid #445881;
  margin-top: 150px;
  margin-bottom: 50px;
  width: 80%;
}
a {
  color: #7b6992;
}
a:hover {
  color: #0d4771;
}
#back-to-top-btn {
  background-color: transparent;
  border-width: 0px;
  border-radius: 10%;
  bottom: 5%;
  color: #7b6992;
  font-size: 18px;
  padding: 5px 0px;
  position: fixed;
  right: 2%;
}
#back-to-top-btn:hover {
  background-color: #445881;
  color: white;
}
.page-intro {
  padding-top: 20px;
}
.page-intro p {
  font-size: 20px;
  line-height: 1.5;
  margin: 200px auto 200px auto;
  max-width: 520px;
  width: 80%;
}
.intro  {
  font-size: 24px;
  margin: 80px auto;
  width: 80%;
}
.eDirection {
  font-family: monospace;
}
.section-name {
  border-top: 2px solid #445881;
  margin: 10px auto 0px auto;
  padding-bottom: 15px;
  padding-top: 15px;
  text-align: right;
  width: 80%;
}
.struckout-text {
  text-decoration: line-through;
}

/* Top bar */
#main-bar {
  font-size: 24px;
  margin-top: 30px;
  padding: 14px 16px;
  position: relative;
  text-align: left;
}

/* Top menu */
.topnav {
  overflow: hidden;
  background-color: #445881;
}
.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a.active {
  background-color: #7b6992;
  color: white;
}
.topnav a:hover {
  background-color: white;
  color: #0d4771;
}
.topnav #menu-icon {
  display: none;
}
#current-tab {
  display: none;
}
@media screen and (max-width: 650px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav #menu-icon {
    float: right;
    display: block;
  }
  #current-tab {
    display: inline-block;
    color: white;
    font-size: 16px;
    margin-bottom: 0px;
    padding: 0px 16px;
    text-align: left;
  }
}
@media screen and (max-width: 650px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive #menu-icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a:not(:first-child)  {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive #catalogue-link {
    margin-top: 48px;
  }
}

/* Content/Sections */
.hidden {
  display: none;
}

/* Section 1: Home */
#art-at-a-glance {
  width: 100%;
}
.art-card-holder {
  margin: auto;
}
.art-card {
  display: inline-block;
  padding: 5px;
  width: 80%;
  min-width: none;
}
.landscape {
  min-width: 300px;
  width: 75%
}
.med {
  min-width: 275px;
  width: 40%;
}
.sm {
  min-width: 275px;
  width: 30%;
}
.art-card img {
  width: 100%;
}
.copyrightP {
  color: darkgray;
  font-size: 11px;
}
@media screen and (max-width: 650px) {
  .art-card-holder {
    display: block;
  }
  .art-card {
    display: block;
    margin: auto;
  }
}

/* Section 2: Catalogue */
#catalog-list {
  width: 100%
}
.catalog-card {
  display: block;
  margin: 50px auto;
  width: 80%;
}
.catalog-card::after {
  content: '';
  clear: both;
  display: table;
}
.catalog-card img {
  margin: 25px;
  max-width: 500px;
  width: 80%;
}
.gallery-tag {
  padding-top: 250px;
  margin: auto;
  width: 75%;
}
.gallery-tag-landscape {
  padding-top: 150px;
}
.catalog-card:nth-child(odd) img {
  float: left;
}
.catalog-card:nth-child(even) img {
  float: right;
}
.card-title {
  font-size: 20px;
}
@media screen and (max-width: 900px) {
  .catalog-card {
    display: block;
  }
  .gallery-tag, .gallery-tag-landscape {
    padding-top: 10px;
  }
  .catalog-card:nth-child(even) img {
    display: block;
    float: none;
    margin: 25px auto;
  }
  .catalog-card:nth-child(odd) img {
    display: block;
    float: none;
    margin: 25px auto;
  }
}

/* Section 3: Archive */
#gallery {
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 5%;
  padding-right: 5%;
}
.archived-art {
  min-width: 300px;
  width: 40%;
  padding: 5px;
}
.archived-art img {
  width: 100%;
}
.myTitle {
  font-size: 14px;
}
#filter-bar {
  color: #445881;
  margin: 0px auto 50px auto;
  width: 80%;
}
.filter-btn {
  /* background-color: darkgrey; */
  border: none;
  border-radius: 10px;
  font-size: 14px;
  margin: 7px 5px;
  padding: 10px 7px;
}
.filter-btn:hover {
  background-color: #445881;
  color: white;
}
.filter-btn.filtered {
  background-color: #7b6992;
  color: white;
}

/* Section 4: Shop */
#shop-content {
  padding-top: 100px;
}
#shop-content p {
  margin-left: 20%;
  margin-right: 20%;
  text-align: left;
}
table {
  margin: 40px auto;
  text-align: left;
}
tr:nth-child(even) {
  background-color: #7b6992;
  color: white;
}
td {
  padding: 7px 5px;
}

/* Section 5: Blog */
#blog-content {
  line-height: 1.5;
  margin: auto;
  text-align: left;
  width: 75%;
}
#blog-content p {
  color: #445881;
}
.blog-title a {
  font-size: 26px;
}
#back-to-index-btn {
  margin-bottom: 50px;
}
.blog-post {
  margin-top: 60px;
}
.blog-post p {
  font-size: 20px;
}

/* Section 6: About
Images use the same classes as for Section 1: Home */
#about-content {
  margin: auto;
  width: 75%;
}
.bio {
  line-height: 1.75;
  margin: auto;
  max-width: 500px;
  padding: 30px 0px;
}

/* Footer */
footer {
  background-color: #445881;
  color: white;
  margin-bottom: 0px;
  margin-top: 180px;
  padding: 80px 10%;
}
footer a {
  color: #b17aa2;
  text-decoration: none;
}
footer a:hover {
  color: white;
}
#where-to-go-now {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 50px;
}
.my-name {
  font-family: cursive;
}
.go-here {
  width: 150px;
}
.nav-at-foot {
  display: block;
  margin-bottom: 15px;
  font-size: 24px;
}
.contact-icon {
  display: inline;
  font-size: 35px;
}
.l-icons {
  width: 30px;
  max-width: 75%;
}