body {
    background-color: #23596d;
    font-size: 18px;
    line-height: 1.5;
    padding: 30px 5%;
    text-align: center;
}
#title-par {
    color: #87BCC7;
}
#name-par {
    color: #eeecdd;
}
#contact-par {
    line-height: 3;
}
.big-font {
    color: #eeecdd;
    font-size: 35px;
    font-weight: bold;
}
.med-font {
    font-size: 25px;
}
.blue-font {
    color: #87BCC7;
}
p {
    margin: 50px auto 0px auto;
    max-width: 777px;
}
a {
    color: #87BCC7;
    text-decoration: none;
}
.eDirection {
    text-decoration: none;
    font-family: monospace;
}
a:hover, .eDirection:hover {
    color: #ed8772;
}