body {
    background-color: #23596d;
    color: white;
    padding-top: 50px;
    text-align: center;
}
a {
    color: white;
}
a:hover, .underlined:hover {
    color: #ed8772;
}
.underlined {
    text-decoration: underline;
}
h1 {
    font-size: 30px;
}
p {
    font-size: 18px;
    line-height: 2;
    margin: 50px auto 0px auto;
    max-width: 777px;
}
.eDirection {
    text-decoration: none;
    font-family: monospace;
    font-size: 16px;
}
.eDirection:hover, .used {
    color: #ed8772;
}
.hidden {
    display: none;
}
footer {
    padding-top: 60px;
}